---
import { YFlow } from "@use-compose/ui";
import ProjectList from "../projects/components/ProjectList.astro";
import Layout from "../layouts/Layout.astro";
import type { Project } from "../types/index.ts";

const response = await fetch(
  `${import.meta.env.PUBLIC_API_URL}/content/projects`,
);
console.log("📟 - response → ", response);
const data = response.ok ? await response.json() : [];
console.log("📟 - data → ", data);
const projects: Project[] = Array.isArray(data) ? data : [];
console.log("📟 - projects → ", projects);
const hasProjects = projects && projects.length > 0;
console.log("📟 - hasProjects → ", hasProjects);
---

{
  !hasProjects && console.log("fgdfgdf") && (
    <Layout>
      <YFlow>
        <p>No projects found.</p>
      </YFlow>
    </Layout>
  )
}

<Layout>
  <!-- <YFlow> -->
  <!-- <h1>Projects</h1> -->
  <ProjectList projects={projects} />

  <!-- </YFlow> -->
</Layout>
