---
import type { Project } from '../types/index.ts'
import Layout from '../layouts/Layout.astro';
import { YFlow } from '@use-compose/ui';
import ProjectList from '../components/ProjectList.astro';

const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/content/projects`)
console.log('📟 - response → ', response)
const data = response.ok ? await response.json() : []
console.log('📟 - data → ', data)
const projects: Project[] = Array.isArray(data) ? data : []
console.log('📟 - projects → ', projects)
const hasProjects = projects && projects.length > 0
---

{!hasProjects && (
	<Layout>
		<YFlow>
			<p>No projects found.</p>
		</YFlow>
	</Layout>
) }

<Layout>
	<YFlow>
		<ProjectList projects={projects} />
	
	</YFlow>
</Layout>
