name: Build Playground and Docs

on:
  workflow_call:
    inputs:
      node_version:
        required: true
        type: number
        default: 22

jobs:
  build-playground:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with:
          node_version: ${{ inputs.node_version }}
          pnpm_version: 9
          cache: "pnpm"

      - name: Sync types
        run: node scripts/sync-types.mjs

      - name: Build code
        run: pnpm build

      - name: Upload-artifact if will deploy
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: actions/upload-artifact@v6
        with:
          name: website-build
          path: ./dist/
